

/* Form container */
#loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  border: 1px solid #f4f4f4;
  background-color: rgba(83, 82, 82, 0.26);
}

/* Form group (label + input) */
.form-group {
  margin-bottom: 15px;
}

/* Input fields */

#password {
  font-size: 14px;
  border-radius: 5px;
}

/* Form buttons */
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 45%;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
